<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

<header>
    <!-- As a link -->
    <nav class="navbar navbar-light bg-secondary">
        <a class="m-5 navbar-brand" href="#">Teste pratico Django | E-soft</a>
    </nav>

    <!-- As a heading -->
    <div class="p-5 text-center">
        <a class="btn btn-primary" href="/pessoas/all/" role="button">Listar</a>
        <a class="btn btn-primary" href="/pessoas/register/" role="button">Cadastrar</a>
        <a class="btn btn-primary" href="/pessoas/register/api" role="button">Generate Heroku</a>
    </div>

</header>